#### Практическая работа №4

## Тема: "Линейная регрессия"

### Выполнил студент: Кащенко Виталий

#### Вариант: 9

#### Задание 1. Загрузить данные из dataset "Титаник"

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

#### Задание 2. Произвести предобработку данных dataset "Титаник" и сохранить результаты каждый в отдельный датафрейм

In [2]:
df_del = df.dropna()

df_num = df.fillna(20)

df_mean_col = df.copy()
df_mean = df.copy()
for i in range(df.shape[1]):
    if (df_mean.iloc[:,i].dtypes) != 'object':
        df_mean.iloc[:,i].fillna(df_mean.iloc[:,i].mean(), inplace = True)
    else:
        df_mean_col = df_mean.iloc[:,i].value_counts(normalize = True).to_frame()
        a = df_mean_col['proportion'].mean()
        mindef = min(df_mean_col['proportion'], key=lambda x: abs(x - a)) 
        idx = df_mean_col[df_mean_col['proportion'] == mindef].index[0]
        df_mean.iloc[:,i].fillna(idx, inplace = True)
del df_mean_col

df_median_col = df.copy()
df_median = df.copy()
for i in range(df.shape[1]):
    if (df_median.iloc[:,i].dtypes) != 'object':
        df_median.iloc[:,i].fillna(df_median.iloc[:,i].median(), inplace = True)
    else:
        df_median_col = df_median.iloc[:,i].value_counts().to_frame()
        a = df_median_col['count'].median()
        mindef = min(df_median_col['count'], key=lambda x: abs(x - a)) 
        idx = df_median_col[df_median_col['count'] == mindef].index[0]
        df_median.iloc[:,i].fillna(idx, inplace = True)
del df_median_col

df_fb_fill = df.copy()
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        if pd.isnull(df_fb_fill.iloc[i,j]):
            if i != 0:
                df_fb_fill.iloc[i,j] = df_fb_fill.iloc[i-1,j]
            else:   
                df_fb_fill.iloc[i,j] = df_fb_fill.iloc[i+1,j]
del df


#### Задание 4. Произвести оценку обученности модели разными метриками

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import accuracy_score, recall_score, f1_score, mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')
X = df_del[['Fare', 'Age']]
Y = df_del['Pclass']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.33, random_state = 0)
model = LinearRegression()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Коэффициенты модели:", model.coef_)
print("Свободный член модели:", model.intercept_)
mse = mean_squared_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R2 Score: {r2}")

Коэффициенты модели: [-0.0023403  -0.01318738]
Свободный член модели: 1.8539634505388665
Mean Squared Error: 0.1336451352461853
R2 Score: 0.15712957923549897

#### Задание 5. Определить наиболее эффективную метрику

#### Задание 6. Загрузить ваш dataset и произвести его описание

In [5]:
mydf = pd.read_csv('crypto-markets.csv', sep = ',')

##### Вся историческая информация об открытии, максимуме, минимуме, закрытии, объеме торгов и рыночной капитализации для всех криптовалют.

In [6]:
mydf.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

#### Задание 7. Произвести предобработку вашего dataset и сохранить результаты каждый в отдельный датафрейм

In [9]:
mydf_del = mydf.dropna()

mydf_num = mydf.fillna(20)

mydf_mean_col = mydf.copy()
mydf_mean = mydf.copy()
for i in range(mydf.shape[1]):
    if (mydf_mean.iloc[:,i].dtypes) != 'object':
        mydf_mean.iloc[:,i].fillna(mydf_mean.iloc[:,i].mean(), inplace = True)
    else:
        mydf_mean_col = mydf_mean.iloc[:,i].value_counts(normalize = True).to_frame()
        a = mydf_mean_col['proportion'].mean()
        mindef = min(mydf_mean_col['proportion'], key=lambda x: abs(x - a)) 
        idx = mydf_mean_col[mydf_mean_col['proportion'] == mindef].index[0]
        mydf_mean.iloc[:,i].fillna(idx, inplace = True)
del mydf_mean_col

mydf_median_col = mydf.copy()
mydf_median = mydf.copy()
for i in range(mydf.shape[1]):
    if (mydf_median.iloc[:,i].dtypes) != 'object':
        mydf_median.iloc[:,i].fillna(mydf_median.iloc[:,i].median(), inplace = True)
    else:
        mydf_median_col = mydf_median.iloc[:,i].value_counts().to_frame()
        a = mydf_median_col['count'].median()
        mindef = min(mydf_median_col['count'], key=lambda x: abs(x - a)) 
        idx = mydf_median_col[mydf_median_col['count'] == mindef].index[0]
        mydf_median.iloc[:,i].fillna(idx, inplace = True)
del mydf_median_col
mydf_fb_fill = mydf.copy()
for i in range(mydf.shape[0]):
    for j in range(mydf.shape[1]):
        if pd.isnull(mydf_fb_fill.iloc[i,j]):
            if i != 0:
                mydf_fb_fill.iloc[i,j] = mydf_fb_fill.iloc[i-1,j]
            else:   
                mydf_fb_fill.iloc[i,j] = mydf_fb_fill.iloc[i+1,j]
del mydf

NameError: name 'mydf' is not defined